# https://github.com/docker/docker.github.io/blob/master/.dockerignore

.dockerignore
.DS_Store
.git
.github
.gitignore
.gitmodules
.idea
.jekyll-metadata
.sass-cache
.golangci.yml
tests
_site
CONTRIBUTING.md
CODE_OF_CONDUCT.md
LICENSE
README.md
Dockerfile
Dockerfile.archive
docker-compose.yml
Gemfile
Gemfile.lock
Makefile
_website*.json
./bin
./report.*
./coverage.out
